#incomes_table {
    margin-right: 1%;
}

#table{
    margin-top: 5%;
    padding-bottom: 5%;
    background-color: white;
}

.col{
    margin-right: 1%;
    margin-left: 1%;
}

.edit{
    float: right;
}
