#container{
    margin-bottom: 5%;
}

.navbar-brand{
    margin-left: 1%;
}

.nav-link, a, #getTransactions1, #getIncomes1, #getDebt1{
    color: white !important;
}

.dropdown-item{
    color: black!important;
}

#sign-in{
    margin-right: 1%;
}

#background-info{
    margin-top: 7%;
}

body {
    background: url("/static/images/backgr.jpg") no-repeat center center fixed;
    background-size: cover;
}