<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>Transaction Create</title>

</head>
<body>

<style>
    body {
        background: url("/static/images/backgr.jpg") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<nav class="navbar navbar-expand navbar-dark bg-dark">

    <div class="collapse navbar-collapse">
        <div class="container">

            <div class="row">

                <div class="col">
                    <a class="navbar-brand">
                        <img src="/static/images/icon.png" width="50" height="50" class="d-inline-block"/>
                        CountMoney
                    </a>
                </div>

                <div class="col">
                    <a class="nav-link link-light" th:text="#{navbar.home}" href="/">Home</a>
                </div>


                <div class="col">
                    <div class="container" style="text-align: right">
                        <div class="row">
                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            th:text="#{navbar.choose_lang}"> Choose language
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="?lang=ua" th:text="#{navbar.ua}">ua</a>
                                        <a class="dropdown-item" href="?lang=en" th:text="#{navbar.en}">en</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <a class="btn btn-sm btn-outline-secondary" href="/login" th:text="#{navbar.sign_in}">
                                    Sign in
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>

<div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
    <div class="card">
        <div class="w3-container">

            <h2 style="text-align: center" th:text="#{transaction.add}">Add Transaction</h2>

            <table id="create_transaction_entity_table" class="w3-table w3-bordered">
                <tr>
                    <th></th>
                    <th></th>
                </tr>

                <tr>
                    <td th:text="#{transaction.date}">Date</td>
                    <td><input id="date" name="date_name" type="date"></td>
                </tr>
                <tr>
                    <td th:text="#{transaction.description}">Destination</td>
                    <td><input id="destination" name="destination_name" type="text"></td>
                </tr>
                <tr>
                    <td th:text="#{transaction.sum}">Sum</td>
                    <td><input id="sum" name="sum_name" type="text"></td>
                </tr>
<!--                <tr>-->
<!--                    <td th:text="#{transaction.user}">User</td>-->
<!--                    <td><input id="id_user" name="id_user_name" type="text"></td>-->
<!--                </tr>-->
                <tr>
                    <td th:text="#{transaction.type_transaction}">Type Transaction</td>
                    <td><input id="id_type_transaction" name="id_type_transaction_name" type="text">
                        <p><a href="/ui/typeTransactions/create" style="margin-left:25px"
                              th:text="#{type_transaction.add}">Add type transaction</a></p>
                    </td>
                </tr>
                <tr>
                    <td th:text="#{transaction.period_from}">Period from</td>
                    <td><input id="period_from" name="period_from_name" type="date"></td>
                </tr>
                <tr>
                    <td th:text="#{transaction.period_to}">Period to</td>
                    <td><input id="period_to" name="period_to_name" type="date"></td>
                </tr>
            </table>
            <br>
            <br>

            <div class="container" style="text-align: center; margin-bottom: 10px">
                <button id="btnSave" class="btnSaveTransaction btn btn-dark" th:text="#{button.save}">Save</button>
                <button onclick="location.href='/'" type="button" class="btn btn-dark" th:text="#{button.cancel}">
                    Cancel
                </button>
<!--                возвращаться на страницу пользователя-->
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">

    if (sessionStorage.nameTypeTransaction) {
        $("#id_type_transaction").val(sessionStorage.nameTypeTransaction);

    }

    $.ajaxSetup({
        cache: false,
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        }
    });

    function TransactionDTO(id, date, destination, sum, periodFrom, periodTo, idUser, idTypeTransaction) {
        this.id_transaction = id;
        this.date = date;
        this.destination = destination;
        this.sum = sum;
        this.period_from = periodFrom;
        this.period_to = periodTo;
        this.id_user = idUser;
        this.id_type_transaction = idTypeTransaction;
    }

    $(document).delegate('#btnSave', 'click', function (event) {
        event.preventDefault();

        var typeTransaction = $('#id_type_transaction').val();

        $.getJSON('/typeTransactions', function (json) {
            console.log(json);

            let typeTrans = json.filter(elem => elem.name_type_transaction === typeTransaction);

            if (!typeTrans.length) {
                alert('This type transaction doesn`t exist. You can create your own type transaction')
            } else {

                var id = $('#id_transaction').val();
                var date = $('#date').val();
                var destination = $('#destination').val();
                var sum = $('#sum').val();
                var periodFrom = $('#period_from').val();
                var periodTo = $('#period_to').val();
                var idUser = $('#id_user').val();


                var transactionDTO = new TransactionDTO(id, date, destination, sum, periodFrom, periodTo, null,
                    typeTrans[0]);

                console.log(transactionDTO);
                console.log(JSON.stringify(transactionDTO));

                alert("button Save!");

                $.ajax({
                    type: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    },
                    url: "/transactions",
                    data: JSON.stringify(transactionDTO),
                    success: function (result) {
                        location.href = "/ui/transactions/list";
                        window.setTimeout(function () {
                            location.reload();
                        }, 1000);

                        alert('SUCCESS!');
                    },
                    error: function (err) {
                        alert('ERROR!');
                    }

                });

            }

        });

    });


</script>
</div>

<!--dropdown for locatization-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!---->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous">
</script>

</body>
</html>